.search-box {
    margin: 0px 3%;
    padding: 15px 15px 10px 15px;
    background-color: white;
    display: flex;
    align-items: center;
    .back-icon {
        width: 20px;
        margin-right: 10px;
        font-size: 24px;
        opacity: 0.7;
    } 
    .search-input {
        width: 100%;
        box-sizing: border-box;
        input {
            padding: 10px 15px;
            width: 100%;
            outline: none;
            border-radius: 4px;
            border: 1px solid lightgray;
            opacity: 0.5;
        }
    }
}